[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
passlib = "*"
pyyaml = "*"
"jinja2" = "*"

[dev-packages]
pytest = "*"
ipython = "*"

[requires]
python_version = "3.7"
