{
  "_comment": [
    "Download the ESXi iso from https://www.vmware.com/go/get-free-esxi.",
    "Select a password with >= 8 chars from >=3 character classes.",
    "Copy your free license key from the ESXi download page."
  ],
  "iso": "VMware-VMvisor-Installer-6.7.0-8169922.x86_64.iso",
  "password": "ABCdef123",
  "license": "XXXXX-XXXXX-XXXXX-XXXXX-XXXXX"
}
